*/demo_output/
*/test_output*/
*/output/
*/demo_animations/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
poetry.lock
.venv
venv/
ENV/
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
.ipynb_checkpoints/
.dockerignore
catboost_info/

seminar/step3_rag/src/
seminar/step3_rag/notebooks/
seminar/step3_rag/poetry.lock
seminar/step3_rag/pyproject.toml
seminar/step3_rag/Makefile
